@charset "UTF-8";
/******************************************************************

Stylesheet: 変数リスト

******************************************************************/
.loader {
  visibility: visible;
  opacity: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  transform: translateZ(0);
}
.loader.end {
  visibility: hidden;
  opacity: 0;
}

@-webkit-keyframes load5 {
  0%, 100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
@keyframes load5 {
  0%, 100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
.mobile-menu {
  display: flex;
  justify-content: center;
  position: fixed;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: 0;
  background-color: rgb(17, 17, 17);
  transition: all 0.5s;
}
.mobile-menu__btn {
  position: absolute;
  right: 0;
  margin-right: 20px;
  background-color: unset;
  border: none;
  outline: none !important;
  cursor: pointer;
}
.mobile-menu__btn > span {
  background-color: white;
  border-radius: 2px;
  width: 30px;
  height: 2px;
  display: block;
  margin-bottom: 9px;
  transition: transform 0.5s;
}
.mobile-menu__btn > span:nth-child(2) {
  opacity: 1;
  transition: opacity 0.5s;
}
.mobile-menu__btn > span:last-child {
  margin-bottom: 0;
}
.mobile-menu__ul {
  padding: 0;
  margin: 0;
  min-height: 500px;
}
.mobile-menu__li {
  letter-spacing: 5px !important;
  position: relative;
  text-align: center;
  margin-bottom: 25px;
  font-size: 20px;
  color: white;
}
.mobile-menu__li.last {
  margin-bottom: 0;
}
.mobile-menu__li > a {
  transition: all 0.5s;
  display: block;
}
.mobile-menu__li > a:hover {
  color: rgb(100, 100, 100);
}
.mobile-menu__li.has-child {
  cursor: pointer;
}
.mobile-menu__li.has-child::before {
  content: "";
  position: absolute;
  left: 3px;
  top: 11px;
  width: 6px;
  height: 6px;
  border-top: 1px solid white;
  border-right: 1px solid white;
  transform: rotate(135deg);
}
.mobile-menu__li.has-child.active::before {
  transform: rotate(-45deg);
}
.mobile-menu__li.has-child > ul {
  position: relative;
  top: 0;
  height: 180px;
  width: 100%;
  left: 0;
  z-index: 10001;
  background-color: rgb(17, 17, 17);
  opacity: 1;
  visibility: visible;
  display: none;
}
.mobile-menu__li.has-child > ul > li {
  margin-bottom: 20px;
}
.mobile-menu__li.has-child > ul > li:first-child {
  margin-top: 20px;
}
.mobile-menu__li.has-child > ul > li > a {
  transition: all 0.5s;
}
.mobile-menu__li.has-child > ul > li > a:hover {
  color: rgb(100, 100, 100);
}
.mobile-menu__li.current > a, .mobile-menu__li .mobile-menu__span {
  color: rgb(100, 100, 100);
}
.mobile-menu__icon {
  padding: 0;
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.mobile-menu__social-item {
  margin: 0 20px;
}
.mobile-menu__social-item > a:hover {
  color: rgb(100, 100, 100);
}

.menu-open.mobile-menu {
  z-index: 10000;
  opacity: 1;
}
.menu-open.mobile-menu__ul, .menu-open.mobile-menu__icon {
  -webkit-animation-name: menu-animate;
          animation-name: menu-animate;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
.menu-open.mobile-menu__btn > span:nth-child(1) {
  transform: translateY(11px) rotate(135deg);
}
.menu-open.mobile-menu__btn > span:nth-child(2) {
  opacity: 0;
}
.menu-open.mobile-menu__btn > span:nth-child(3) {
  transform: translateY(-11px) rotate(-135deg);
}

@-webkit-keyframes menu-animate {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes menu-animate {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
a.active {
  transition: all 0.5s;
  color: rgb(100, 100, 100);
}

.animate-title,
.tween-animate-title {
  color: white;
  opacity: 0;
}
.animate-title.inview,
.tween-animate-title.inview {
  opacity: 1;
}
.animate-title.inview .char,
.tween-animate-title.inview .char {
  display: inline-block;
}
.animate-title .char,
.tween-animate-title .char {
  opacity: 0;
}

.animate-title.inview .char {
  -webkit-animation-name: kf-animate-chars;
          animation-name: kf-animate-chars;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
          animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.animate-title.inview .char:nth-child(1) {
  -webkit-animation-delay: 0.04s;
          animation-delay: 0.04s;
}
.animate-title.inview .char:nth-child(2) {
  -webkit-animation-delay: 0.08s;
          animation-delay: 0.08s;
}
.animate-title.inview .char:nth-child(3) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}
.animate-title.inview .char:nth-child(4) {
  -webkit-animation-delay: 0.16s;
          animation-delay: 0.16s;
}
.animate-title.inview .char:nth-child(5) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.animate-title.inview .char:nth-child(6) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}
.animate-title.inview .char:nth-child(7) {
  -webkit-animation-delay: 0.28s;
          animation-delay: 0.28s;
}
.animate-title.inview .char:nth-child(8) {
  -webkit-animation-delay: 0.32s;
          animation-delay: 0.32s;
}
.animate-title.inview .char:nth-child(9) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}
.animate-title.inview .char:nth-child(10) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.animate-title.inview .char:nth-child(11) {
  -webkit-animation-delay: 0.44s;
          animation-delay: 0.44s;
}
.animate-title.inview .char:nth-child(12) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}
.animate-title.inview .char:nth-child(13) {
  -webkit-animation-delay: 0.52s;
          animation-delay: 0.52s;
}
.animate-title.inview .char:nth-child(14) {
  -webkit-animation-delay: 0.56s;
          animation-delay: 0.56s;
}
.animate-title.inview .char:nth-child(15) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.animate-title.inview .char:nth-child(16) {
  -webkit-animation-delay: 0.64s;
          animation-delay: 0.64s;
}
.animate-title.inview .char:nth-child(17) {
  -webkit-animation-delay: 0.68s;
          animation-delay: 0.68s;
}
.animate-title.inview .char:nth-child(18) {
  -webkit-animation-delay: 0.72s;
          animation-delay: 0.72s;
}
.animate-title.inview .char:nth-child(19) {
  -webkit-animation-delay: 0.76s;
          animation-delay: 0.76s;
}
.animate-title.inview .char:nth-child(20) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.animate-title.inview .char:nth-child(21) {
  -webkit-animation-delay: 0.84s;
          animation-delay: 0.84s;
}
.animate-title.inview .char:nth-child(22) {
  -webkit-animation-delay: 0.88s;
          animation-delay: 0.88s;
}
.animate-title.inview .char:nth-child(23) {
  -webkit-animation-delay: 0.92s;
          animation-delay: 0.92s;
}
.animate-title.inview .char:nth-child(24) {
  -webkit-animation-delay: 0.96s;
          animation-delay: 0.96s;
}
.animate-title.inview .char:nth-child(25) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.animate-title.inview .char:nth-child(26) {
  -webkit-animation-delay: 1.04s;
          animation-delay: 1.04s;
}
.animate-title.inview .char:nth-child(27) {
  -webkit-animation-delay: 1.08s;
          animation-delay: 1.08s;
}
.animate-title.inview .char:nth-child(28) {
  -webkit-animation-delay: 1.12s;
          animation-delay: 1.12s;
}
.animate-title.inview .char:nth-child(29) {
  -webkit-animation-delay: 1.16s;
          animation-delay: 1.16s;
}
.animate-title.inview .char:nth-child(30) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

@-webkit-keyframes kf-animate-chars {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.cover-slide {
  position: relative;
  overflow: hidden;
}
.cover-slide::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(17, 17, 17);
  opacity: 0;
}
.cover-slide.inview::after {
  opacity: 1;
  -webkit-animation-name: kf-cover-slide;
          animation-name: kf-cover-slide;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes kf-cover-slide {
  50% {
    transform-origin: bottom;
    transform: scaleY(1);
  }
  100% {
    transform-origin: bottom;
    transform: scaleY(0);
  }
}

@keyframes kf-cover-slide {
  50% {
    transform-origin: bottom;
    transform: scaleY(1);
  }
  100% {
    transform-origin: bottom;
    transform: scaleY(0);
  }
}
.inview .img-zoom {
  opacity: 1;
  transition: all 0.3s ease;
}
.inview .img-zoom:hover {
  transform: scale(1.05);
  opacity: 0.4;
}

#page-top {
  z-index: 1000000;
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0;
  transform: translateY(100px);
}
#page-top > a {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(110, 110, 110, 0.8);
  opacity: 0.7;
  border-radius: 50%;
  transition: all 0.3s;
}
#page-top > a:hover {
  background-color: #2d3c64;
}
#page-top.UpMove {
  -webkit-animation: UpAnime 0.5s forwards;
          animation: UpAnime 0.5s forwards;
}
#page-top.DownMove {
  -webkit-animation: DownAnime 0.5s, forwards;
          animation: DownAnime 0.5s, forwards;
}

.fa-arrow-up {
  font-size: 25px;
}

@-webkit-keyframes UpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes UpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes DownAnime {
  from {
    opacity: 1;
    transform: trnslateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(100px);
  }
}
@keyframes DownAnime {
  from {
    opacity: 1;
    transform: trnslateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(100px);
  }
}
#main-content {
  margin-top: 80px;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  display: block;
  justify-content: center;
  align-items: center;
  display: block;
  width: 100%;
  height: 90vh;
}

.img-display {
  z-index: 1000;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  overflow: hidden;
  width: 90%;
  height: 80%;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.img-display:hover {
  background-color: rgb(25, 25, 25);
}
.img-display > .title {
  letter-spacing: 2px;
  color: white;
  position: absolute;
  display: block;
  margin: 0 auto;
  bottom: 20px;
}
.img-display > a {
  z-index: 10000;
  bottom: 0;
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  cursor: pointer;
  right: 0;
}
.img-display__show {
  position: relative;
  -webkit-animation: img-wrap 10s forwards infinite;
          animation: img-wrap 10s forwards infinite;
  background-color: rgb(17, 17, 17);
  bottom: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  right: 0;
  z-index: 100;
}
.img-display img {
  margin: auto;
  height: 80%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  display: none;
}
.img-display img.active {
  display: block;
}

@-webkit-keyframes img-wrap {
  0% {
    transform-origin: bottom;
    transform: scaleY(1);
  }
  50% {
    transform-origin: bottom;
    transform: scaleY(0);
  }
  100% {
    transform-origin: bottom;
    transform: scaleY(0);
  }
}

@keyframes img-wrap {
  0% {
    transform-origin: bottom;
    transform: scaleY(1);
  }
  50% {
    transform-origin: bottom;
    transform: scaleY(0);
  }
  100% {
    transform-origin: bottom;
    transform: scaleY(0);
  }
}
/*==================================================
ギャラリーのためのcss
===================================*/
#gallery-content {
  width: 90% !important;
  position: relative;
  display: block;
  justify-content: center;
  margin: 80px auto 0 !important;
}

.gallery-display {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.gallery {
  margin: 0;
  padding: 0;
  -moz-columns: 1;
       columns: 1;
}
.gallery > li {
  position: relative;
  text-align: center;
  margin: 0 0 20px;
}
.gallery > li > a {
  position: relative;
}
.gallery > li > a > img {
  width: 95%;
}

a {
  color: #333;
}

a:hover,
a:active {
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 6vw;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 30px 0;
}

p {
  margin: 0 10px 10px 10px;
  word-wrap: break-word;
}

@-webkit-keyframes img-animate {
  from {
    transform-origin: bottom;
    transform: scaleY(1);
  }
  to {
    transform-origin: bottom;
    transform: scaleY(0);
  }
}

@keyframes img-animate {
  from {
    transform-origin: bottom;
    transform: scaleY(1);
  }
  to {
    transform-origin: bottom;
    transform: scaleY(0);
  }
}
.about {
  max-width: 1300px;
  margin-top: 80px;
  font-family: "Noto Serif JP", serif;
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  letter-spacing: 2px;
}
.about__inner {
  height: 80%;
  width: 90%;
  margin: auto;
  display: block;
}

.selfie {
  margin-bottom: 20px;
}

.box_text {
  padding-left: 5px;
  margin: auto 0;
  letter-spacing: 0.2em;
  /* padding-top: 35px; */
}
.box_text.inview {
  -webkit-animation: text_Up 1s ease forwards;
          animation: text_Up 1s ease forwards;
}
.box_text > .title {
  font-size: 1.3rem;
}
.box_text > .text_Jap {
  font-size: 0.8rem;
  padding-top: 15px;
  line-height: 2.25em;
}
.box_text > .text_Eng {
  font-size: 0.8rem;
  letter-spacing: 0.14em;
  line-height: 2em;
  padding-top: 10px;
}
.box_text > .gear {
  padding-top: 30px;
  font-size: 1.2rem;
}
.box_text > .gear > .text {
  font-size: 0.8rem;
}
.box_text > .gear > .text > li {
  letter-spacing: 0.2rem;
  padding-bottom: 10px;
}
.box_text > .gear > .text > li:first-child {
  padding-top: 10px;
}

@-webkit-keyframes text_Up {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes text_Up {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.contact {
  margin: 80px auto 0;
  position: relative;
  overflow: hidden;
  display: block;
  justify-content: center;
  align-items: center;
  display: block;
  width: 90%;
  max-width: 1300px;
}

.wrap_tbl {
  margin: 0 auto;
  height: 100%;
}
.wrap_tbl > div {
  margin-bottom: 20px;
}
.wrap_tbl > div:last-child {
  margin-bottom: 0;
}
.wrap_tbl > div .question {
  padding-bottom: 10px;
}
.wrap_tbl input {
  width: 90%;
  margin: 0;
  border: 0;
  height: 15px;
  letter-spacing: 0.2em;
  padding: 10px 8px;
}
.wrap_tbl textarea {
  width: 90%;
  margin: 0;
  border: 0;
  height: 100px;
  letter-spacing: 0.2em;
  padding: 10px 8px;
}
.wrap_tbl .dd_btn {
  display: flex;
  justify-content: center;
}
.wrap_tbl button {
  text-decoration: none !important;
  position: relative;
  background-color: white;
  border: 1px solid white;
  margin: 0;
  padding: 0;
  font-weight: 600;
  margin: 10px auto;
  padding: 10px 40px;
  outline: none !important;
  cursor: pointer;
  transition: all 0.5s;
  color: rgb(17, 17, 17);
  border-radius: 3px;
}
.wrap_tbl button:hover {
  background-color: rgb(17, 17, 17);
  color: white;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.footer {
  position: absolute !important;
}

/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
html {
  font-family: "Chivo", sans-serif, "Noto Serif JP";
}

body {
  color: white;
  background-color: rgb(17, 17, 17);
  margin: 0;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none !important;
  color: white;
  display: block;
  text-align: center;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.content-width, .header__inner, #gallery-content {
  width: 95%;
  margin: 0 auto;
  max-width: 1300px;
}

.link, .header__li, .mobile-menu__li, .mobile-menu__social-item > a {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.5s;
}

#global-container {
  position: relative;
  opacity: 0;
  visibility: hidden;
}
#global-container.loaded {
  opacity: 1;
  visibility: visible;
}

#container {
  background-color: rgb(17, 17, 17);
  position: relative;
  -webkit-animation: page_change 1s ease-in-out;
          animation: page_change 1s ease-in-out;
  min-height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  color: white;
  display: flex;
  align-items: center;
  z-index: 100000;
}
.header__nav {
  display: none;
}
.header__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.header__ul-child {
  display: block;
}
.header__li {
  position: relative;
  padding: 0 15px;
}
.header__li.has-child {
  cursor: pointer;
}
.header__li.has-child::before {
  content: "";
  position: absolute;
  left: 3px;
  top: 7px;
  width: 6px;
  height: 6px;
  border-top: 1px solid white;
  border-right: 1px solid white;
  transform: rotate(135deg);
}
.header__li.has-child > ul {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: auto;
  z-index: 100001;
  background-color: rgb(17, 17, 17);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.header__li.has-child:hover > ul {
  visibility: visible;
  opacity: 1;
}
.header__li.has-child.current > span {
  cursor: pointer;
}
.header__li-child.curernt {
  pointer-events: none;
}
.header__li-child > a {
  padding: 10px 0;
}
.header li.curent {
  pointer-events: none;
}
.header .logo {
  font-size: 25px;
  justify-content: center;
  transition: all 0.5s;
}
.header .logo:hover {
  color: rgb(100, 100, 100);
}

.current > a {
  pointer-events: none !important;
  color: rgb(100, 100, 100);
}

.menu__link {
  transition: all 0.5s;
}
.menu__link:hover {
  color: rgb(100, 100, 100);
}

.footer {
  font-size: 0.8em;
  z-index: 1000;
  position: relative;
  background-color: rgb(17, 17, 17);
  bottom: 0px;
  left: 0;
  width: 100%;
  display: flex;
  height: 80px;
}
.footer.windowsize {
  position: absolute;
}
.footer > .copy-right {
  margin: auto;
  letter-spacing: 2px;
}

@-webkit-keyframes page_change {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes page_change {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 600px) {
  /******************************************************************

  Stylesheet: 960px以上のモニタで適用

  ******************************************************************/
  .gallery {
    -moz-columns: 2;
         columns: 2;
  }

  #container_windowsize {
    height: 100vh;
    overflow: hidden;
  }

  .about {
    margin: 0 auto;
    position: absolute;
  }
  .about__inner {
    display: flex;
  }
  .about__inner > .selfie {
    margin-bottom: 0;
  }
  .about__inner > .selfie > img {
    height: 90%;
  }
  .about__inner > .box_text {
    padding-left: 20px;
  }

  .footer {
    position: absolute;
  }

  .wrap_tbl .dd_btn {
    display: block;
  }
  .wrap_tbl textarea, .wrap_tbl input {
    width: 80%;
  }
}
@media (min-width: 960px) {
  /******************************************************************

  Stylesheet: 960px以上のモニタで適用

  ******************************************************************/
  .header {
    background-color: rgb(17, 17, 17);
  }
  .header__inner {
    justify-content: space-between;
  }
  .header__nav {
    display: block;
  }

  .img-display {
    height: 90%;
  }
  .img-display > .title {
    bottom: 2%;
  }

  .mobile-menu, .mobile-menu__btn {
    display: none;
  }

  .gallery {
    -moz-columns: 4;
         columns: 4;
  }

  .about {
    margin-top: 0;
    left: 0;
    right: 0;
    top: 80px;
    bottom: 80px;
    position: absolute;
  }
  .about__inner {
    display: flex;
  }
  .about__inner > .selfie {
    margin-bottom: 0;
  }
  .about__inner > .selfie > img {
    height: 90%;
  }
  .about__inner > .box_text {
    padding-left: 20px;
  }
}
@media (min-width: 1280px) {
  /******************************************************************

  Stylesheet: 960px以上のモニタで適用

  ******************************************************************/
  .header {
    background-color: rgb(17, 17, 17);
  }
  .header__inner {
    justify-content: space-between;
  }
  .header__nav {
    display: block;
  }

  .img-display {
    height: 90%;
  }
  .img-display > .title {
    bottom: 2%;
  }

  .mobile-menu, .mobile-menu__btn {
    display: none;
  }

  .gallery {
    -moz-columns: 4;
         columns: 4;
  }

  .about {
    margin-top: 0;
    left: 0;
    right: 0;
    top: 80px;
    bottom: 80px;
    position: absolute;
  }
  .about__inner {
    display: flex;
  }
  .about__inner > .selfie {
    margin-bottom: 0;
  }
  .about__inner > .selfie > img {
    height: 90%;
  }
  .about__inner > .box_text {
    padding-left: 20px;
  }
}/*# sourceMappingURL=style.css.map */