/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/

// 600-960pxだとロゴが崩れる
.gallery {
    columns: 2;
    // column-gap: 30px;
    // & > li {
    //     margin: 0 0 30px;
    // }
}

// #page-top {
//     &>a {
//         &:hover {
//             background-color: #2d3c64;
//         }
//     }
// }

#container {
    &_windowsize {
        height: 100vh;
        overflow: hidden;
    }
}
.about {
    margin: 0 auto;
    position: absolute;
    &__inner {
        display: flex;
        &>.selfie {
                margin-bottom: 0;

                & > img {
                    height: 90%;
                }
            }
        & > .box_text {
            padding-left: 20px;

        }
    }
}

.footer {
    position: absolute;
}


.wrap_tbl {
    & .dd_btn {
        display: block;
    }

    & textarea, & input {
        width: 80%;
    }
}