/******************************************************************

Stylesheet: 変数リスト

******************************************************************/
$cBlack: rgba(17, 17, 17, 1);
$cWhite: white;
$navHeight: 80px;
$contentMaxWidth: 1300px;